<configuration>
 <system.webServer>
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="https://chrisc.azurewebsites.net/api/users/userlogin" />
      <add name="Access-Control-Allow-Origin" value="https://chrisc.westeurope-1.eventgrid.azure.net/api/events" />
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Methods" value="*" />
      <add name="Access-Control-Allow-Headers" value="accept, content-type, x-my-custom-header" />
      <add name="Access-Control-Allow-Headers" value="*" />
      <add name="Access-Control-Allow-Credentials" value="false" />
    </customHeaders>
  </httpProtocol>
 </system.webServer>
  </configuration>
